GameFiles
*.ini
.history

.vscode
.VSCodeCounter
*.log

Tools/quickbms/*.exe
Tools/quickbms/*.bat
Tools/quickbms/*.ps1
Tools/quickbms/*.txt

Tools/blender/exe

old

texture_mapping
asset_mapping.json
main.log
config.ini

AssetHandlerMini
